<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  <link href="../css-components/story.css" rel="stylesheet" type="text/css">
</head>
<% if (typeof(fail) != "undefined") { %>
<body onload="music()" id="body">
<% } else { %>
<body style= "opacity: 0;" onload="fadeAndMusic()" id="body">
<% } %>
  <div class="container d-flex justify-content-end">
    <a href="../startgame"><img src="../images/castle.png" id="castle"></a>
    <img src="../images/lyre-play.png" onclick="sound()" id="music-on" class="invisible">
    <img src="../images/lyre-stop.png" onclick="sound()" id="music-off">
  </div>
  <div class="container position-relative">
    <pre class="decoration d-flex justify-content-center">

    (¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯·.¸¸.·´¯`·.¸¸.·´¯`·.¸¸.·´¯)
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
   ( \                                                                               / )
  ( \ )                                                                             ( / )
 ( ) (                                                                               ) ( )
  ( / )                                                                             ( \ )
   ( /                                                                               \ )
    (_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·.¸_.·´¯`·.¸¸.·´¯`·._¸.·´¯`·._)

    </pre>
    <div class="position-absolute">
      <pre class="d-flex justify-content-center forest-art">
        ~~~~~~                     /\
      ~(      )~                  /  \
     (   o      )                /  \ \
    (        o   )              / /    \                  ~~~~~~
   (      o       )            /_   \  _\               ~(       )~
    (   o        )              /      \               (       o   )
     (__      __)              /  /     \             (    o        )
        \    /    /\          /_    \   _\             (       o   )
     ____|   |   /\ \          /        \               (__     __)
    @___     |  /_  _\        /  /    \  \                 \   /
        \    |   /  \        /_   /      _\        ~       |   |__(´)
         |   |  /  \ \        /      \   \       (~~~)     |    __() )
         | @ | /_/   _\      /  /  /   \  \     (     )    |   /   ``
         |   |  /  \ \      /______  ______\   (  (    )   |   |
         |   | /__  __\           |  |         (     ) )   |   |
  <@>    |   |   | <@>   (^)      |  |   (^)    (  (  )    |   |    <@>
  _|____/     \__|_\|/____U_______|  |____u_______|/|_____/     \___\|/__
      </pre>
    </div>
    <div class="decoration player-board position-absolute">
<pre>
.-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.
|                             |
|                             |
|                             |
|                             |
|                             |
!                             !
:                             :
:                             :
.                             .
.                             .
:                             :
:                             :
!                             !
|                             |
|                             |
|                             |
|                             |
|                             |
`-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
</pre>
    </div>
    <div class="player position-absolute">
      <p style="font-size: 15px; margin-bottom: 25px"><%=char.charactername%></p>
      ❤ Life: <span id="player-life"><%=char.life%></span>/<span id="maxLife"><%= char.maxLife %></span><br>
       Strength: <span id="player-strength"><%= char.strength%></span><br>
       Agility: <span id="player-agility"><%= char.agility%></span><br>
       Weapon: <span id="player-weapon"><%= char.weapon%></span><br>
       Courage: <span id="player-weapon"><%= char.courage%></span><br>
       Coins: <span id="player-weapon"><%= char.coins%></span><br>
      <div class="d-flex justify-content-between">
        <div>
          Food: <span id="food"><%= char.food%></span>
        </div>
        <% if (char.food > 0) { %>
        <div>
          <button id="eat">eat</button>
        </div>
        <% }; %>
      </div>
      XP: <span id="player-weapon"><%= char.experience%></span>
      <div>
        <button id="inventory">Inventory</button>
      </div>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
            <% hash = {}; %>
            <% char.inventory.forEach((item) => { %>
              <% if (isNaN(hash[item])) { %>
                <% hash[item] = 1; %>
              <% } else { %>
                <% hash[item] = hash[item] + 1; %>
              <% }; %>
            <% });%>

            <% Object.entries(hash).forEach((entry) => { %>
              <p> <%= `${entry[0]}: ${entry[1]}` %> </p>
            <% }); %>
        </div>
      </div>

    </div>
    <% if (typeof(fail) != "undefined") { %>
    <% const invalidAnswer = ['Sorry Sire, your mumbling was not comprehensible. Try again!', 'What was that? Please state your intentions clearly!', '??? You better hurry and take the path or the forest! Which one will it be?']; %>
    <%= invalidAnswer[Math.floor(Math.random() * 3)] %>
    <% } else { %>
      <p>Welcome <%= char.charactername %> !</p>
      <p id="story"></p>
    <% }; %>
    <form action="pathForest" method="POST" class="invisible" id="form">
      <input type="text" name="direction">
      <input type="hidden" name="id" value="<%= char._id %>">
      <input type="hidden" name="level" value="<%= char.level %>">
      <input type="hidden" name="food" value="" id="foodField">
      <input type="hidden" name="life" value="" id="lifeField">
      <input type="submit" id="hide-submit">
    </form>
  </div>
  <script src="../js/story/0.js"></script>
  </body>
</html>
