<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>The Quest</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  <link href="../css-components/combatWolf.css" rel="stylesheet" type="text/css">
</head>
<body style= "opacity: 0;" onload="unfade()" id="body">
  <div class="container decoration-dead invisible" id="dead">
    <div class="d-flex justify-content-center">
      <pre>
____        ____                                  __
\   \      /   /   .-----.      ____     ____    /  / .---------.    .------------.
 \   \    /   /  ,'   _   ',   |    |   |    |  /  /  |     _    ',  |            |
  \   \  /   /  .   .' '.   .  |    |   |    | /__/   |   .' '.    . |     _______|
   \   \/   /  |    |   |    | |    |   |    |        |   |   |    | |    |____
    \      /   |    |   |    | |    |   |    |        |    '-'     ' |         |
     |    |    |    |   |    | |    |   |    |        |           /  |     ____|
     |    |     ,   '._.'    ,  ,   '._.'    ,        |    |\    \   |    |_______
     |    |      .         .     .         .          |    | \    \  |            |
     |____|       '._____.'       '._____.'           |____|  \____\ |____________|


          .---------.    .------------.         .-.         .---------.
          |     _    ',  |            |        /   \        |     _    ',
          |   .' '.    . |     _______|       /     \       |   .' '.    .
          |   |   |    | |    |____          /   .   \      |   |   |    |
          |   |   |    | |         |        /   /_\   \     |   |   |    |
          |   |   |    | |     ____|       /    ___    \    |   |   |    |
          |   '._.'    , |    |_______    /    /   \    \   |   '._.'    ,
          |          .   |            |  /    /     \    \  |          .
          |________.'    |____________| /____/       \____\ |________.'



      ,-=-.                                                                    _
     /  +  \                                                                 _| |_
     | ~~~ |                                                                |_   _|
     |R.I.P|                                   <ô>           (^)    <@>       | |
\vV,,|_____|V,,\vV,,,/,vV,v,,vV/,,v,|,v/,\vV,,,\|/,,/,vV,v,/,,u,,/v,\|/,,vV,v,|_|/,,v,|,

      </pre>
    </div>
  </div>
  <div class="container" id="page">
    <div class="d-flex justify-content-between">
      <div class="position-relative">
        <pre class="decoration scoreboard">
.-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.
|                                   |
|                                   |
!                                   !
:                                   :
.                                   .
.                                   .
:                                   :
!                                   !
|                                   |
|                                   |
`-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'

.-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.
|                                   |
|                                   |
!                                   !
:                                   :
.                                   .
.                                   .
:                                   :
!                                   !
|                                   |
|                                   |
`-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
        </pre>
        <div class="position-absolute">
          <div class="scoreboard-content-player">
            <p style="margin-left: 20px; margin-bottom: 25px" id="player"><%=char.charactername%></p>
            <p>❤ Life: <span id="player-life"><%=char.life%></span> </p>
            <p> Strength: <span id="player-strength"><%= char.strength%></span> </p>
            <p> Agility: <span id="player-agility"><%= char.agility%></span> </p>
            <p> Weapon: <span id="player-weapon"><%= char.weapon%></span></p>
          </div>
          <div class="scoreboard-content-wolf">
            <p style="margin-left: 20px; margin-bottom: 25px" id="wolf"><%= wolf.name %></p>
            <p>❤ Life: <span id="wolf-life"><%=wolf.life%></span> </p>
            <p> Strength: <span id="wolf-strength"><%= wolf.strength%></span> </p>
            <p> Agility: <span id="wolf-agility"><%= wolf.agility%></span> </p>
            <p> Weapon: Teeth</p>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <pre class="decoration">

       ^¯`·.¸¸.·´¯`·.¸¸.·´¯)(¯`·.¸¸.·´¯`·.¸¸.·´¯)(¯`·.¸¸.·´¯`·.¸¸.·(""")
      /:\                                                           III
      |:|                                                           III
      |:|                                                           III
      |:|                                                         __III__
      |:|                                                       /:-.___,-:\
      |:|                                                       \]  |:|  [/
      |:|                                                           |:|
      |:|                                                           |:|
      |:|                                                           |:|
      |:|                                                           |:|
  /]  |:|  [\                                                       |:|
  \:-'"""`-:/                                                       |:|
    ""III""                                                         |:|
      III                                                           |:|
      III                                                           |:|
      III                                                           \:/
     (___)                                                           V
        ¯`·.¸¸.·´¯`·.¸¸.·´¯)(¯`·.¸¸.·´¯`·.¸¸.·´¯)(¯`·.¸¸.·´¯`·.¸¸.·´¯
        </pre>
        <div class="position-absolute">
          <pre class="character">
                __     ,
               /_ \   //
              /  \=  //
             / .. V //
             \ .. /`8´
             |\__/|/
            /======\
              | ||
              | ||
              | ||
              (__^>^>
          </pre>
        </div>
        <div class="position-absolute">
          <pre class="character-fight invisible">
                  __
                _/_ \
               /  \ =
              / .. \/
              \ .. /.\
              |\__/|`.`&|=====>
             /======\
               ) ) \
              / / \ \
             / /   \ \
            (__^>  (__^>
          </pre>
        </div>
        <div class="position-absolute">
          <pre class="wolf">
               _      ,  .
             <´ `>   /(  )`\
             < ^ >  c (  ) |
             `< >´   \(  ) |
              < >   .´ ,.J /
               83_´_-´óooooo
               U     //| |\\
                    // | | \\
                    ~~~~~~~~~
                     C |  C |
                     | )  | )
                     | )  | )
                   c___)c___)
          </pre>
        </div>

        <div class="position-absolute">
          <pre class="wolf-fight invisible">
                   ,  .
                  /(  )`\
                 c (  ) |
                  \(  ) |
     ,Λ-Λ-Λ-Λ __.´ ,.J /
     `V-V-V-v-´--´óooooo
                  //| |\\
                 // | | \\
                 ~~~~~~~~~
                  C |  C |
                  | )   ( )
                  | )    | )
                c___)  c___)
          </pre>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <pre class="dice invisible">
  ________     ________
 /       /|   /       /|
/_______/ |  /_______/ |
| o   o | |  | o     | |
|   o   | |  |   o   | |
| o   o |/   |     o |/
`-------´    `-------´
      </pre>
    </div>
    <h4 id="story"></h4>
    <br>
    <h4 class="invisible enter d-flex justify-content-center" id="enter">Press Enter</h4>
    <p class="round" style="display: none">wolf</p>

    <form action="updateAfterCombatOgre" method="POST" class="invisible" id="form">
      <input type="hidden" value="<%= char.id %>" name="id">
      <input type="hidden" value="<%= char.level %>" name="level">
      <input type="hidden" value="" name="life" id="lifeField">
      <input type="hidden" value="" name="experience" id="experience">
      <input type="hidden" value="" name="coins" id="coins">
      <input type="submit" name="" value="On my way!" id="button">
    </form>

  </div>
  <script src="../js/story/combatOgre.js"></script>
  </body>
</html>
